.navstyle {
  height: 70px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.fas {
  color: red;
  display: flex;
  align-items: center;
}

.logo {
  color: red;
  padding-left: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: none;
  background-color: black;
  margin: 20px;
  padding: 40px;
  width: 15em;
  height: 15em;
  border-radius: 250px;
  z-index: 3;
  transition: all 0.2s ease-in-out;
  opacity: 0.8;
}

.menu a {
  text-decoration: none;
  color: red;
}

label {
  margin: 20px;
  cursor: pointer;
  z-index: 2;
}

#toggle {
  display: none;
}

#toggle:checked + .menu {
  display: flex;
  transform: scale(1.1);
  position: absolute;
  z-index: 1;
}

/* .navstyle {
  color: white;
  font-size: 40px;
  height: 50px;
  background-color: transparent;
  display: flex;
  position: fixed;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.nav-item {
  text-decoration: none;
  list-style: none;
}

.nav-item:hover {
  color: red;
  letter-spacing: 0.5rem;
}

.logo {
  color: white;
  position: absolute;
  top: 3.5%;
  left: 5rem;
  display: flex;
}

.logo:hover {
  color: red;
}

 */
