.pricing-main {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.options {
  color: white;
}

ul {
  list-style-type: symbols("\u2669");
}

@counter-style repeating-emoji {
  system: cyclic;
  symbols: "\u2669";
  suffix: " ";
}

.repeating-counter-rule {
  list-style-type: repeating-emoji;
}

.basic {
  color: red;
}

.advanced {
  color: goldenrod;
}

.pro {
  color: aqua;
}

.features {
  color: white;
  list-style-type: "♪  ";
}

.price {
  font-size: 5em;
}

.sel {
  border-radius: 25px;
  padding: 0.8em;
  width: 200px;
  color: white;
}

.bas {
  background-color: red;
}

.adv {
  background-color: goldenrod;
}

.prosel {
  background-color: aqua;
}

.sela {
  font-weight: 900;
}

.priceContain {
  background-color: black;
}
